doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title TODO Manager
        link(href="css/app.css", rel="stylesheet")
        link(
            rel="stylesheet",
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css",
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==",
            crossorigin="anonymous",
            referrerpolicy="no-referrer"
        )

    body(
        class="mt-5 flex flex-col items-center"
    )
        form(
            action="/",
            method="post",
            class="flex justify-center"
        )
            div(
                class="flex p-5 shadow"
            )

                input(
                    name="text",
                    type="text",
                    placeholder="Add new Todo",
                    id="input-field",
                    class="border border-gray-500 p-3 w-96",
                )
                button(
                    type="submit",
                    name="Submit",
                    class="bg-blue-500 text-white px-8 py-2 ml-1"
                ) Submit
        ul.result(
            style="width: 34rem !important",
            class="flex flex-col mt-5"
        )
                if typeof todo !== 'undefined'
                    each item in todo
                        - let done = item.done ? "done-text" : "";
                        li(
                            class="shadow relative py-5 px-4 my-2"
                        )
                            p(
                                class="" + done
                            )=item.text
                            div(
                                class="absolute top-1/2 right-5 transform -translate-y-1/2"
                            )
                                a(
                                    data-doc=item._id,
                                    class="done disabled:opacity-50 text-green-400 font-semibold cursor-pointer px-1 ml-1"
                                ) Done

                                a(
                                    data-doc=item._id,
                                    class="delete text-red-400 font-semibold cursor-pointer px-1 ml-1"
                                ) Delete
        script(
            src="js/index.js"
        )